<section class="container">
  <header class="row">
    <nav class="p-3 d-flex justify-content-between shadow-sm align-items-center">
      <img src="./assets/todo.png">

      <h4>Mohamed THIARE</h4>
    </nav>
  </header>

 <div class="border">
   <div class="p-3 mt-3 d-flex justify-content-between">
     <h2>{{title}}</h2>
     <button class="btn btn-dark"
              (click)="showForm()">
       Ajouter une Tache
     </button>
   </div>

   <div class="p-4 form" [hidden]="!myVar">
     <app-form-ajout-tache (newtask)="showTaskFromForm($event)"></app-form-ajout-tache>
   </div>
   <div class="p-3 mt-3">
     <h2 class=" mb-5">{{titleListe}}</h2>


     <app-carte [dataTasks]="showTask()" [newTask]="task"></app-carte>
   </div>

 </div>
</section>
